:root {
  --clr-green: #66e2dc;
  --clr-orange: #fa7453;
  --clr-yellow: #ffb964;
  --clr-whitish: #fcfaf9;
  --clr-black: #191826;

  --fw-bold: 700;
  --fs-small: 1rem;
  --fs-medium: 1.25rem;
  --fs-xmedium: 2rem;
  --fs-large: 2.5rem;
  --fs-xlarge: 4rem;
  --fs-xxlarge: 5.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
}

.header {
  background: url(./assets/bg-main-mobile.png) no-repeat;
  background-position: 50px -250px;
  padding: 2em;
}

.logo {
  margin: 2em 0 0 0;
}

.header__heading {
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
}

.header__text {
  line-height: 1.65;
  font-size: var(--fs-small);
}

.card-container {
  background-color: var(--clr-orange);
  color: #fff;
  padding: 2.5em 2em;
  border-radius: 8px;
}

.card--title {
  font-size: var(--fs-xmedium);
  margin: 0;
}

.card--text {
  font-size: var(--fs-small);
  line-height: 1.7;
}

.big {
  font-size: var(--fs-xlarge);
  font-weight: var(--fw-bold);
}

.vertical-center {
  vertical-align: middle;
  padding-right: 0.25em;
}

.ios-btn,
.android-btn {
  min-width: 296px;
  margin-top: 1em;
  padding: 1em 4em;
  border-radius: 8px;
  border: none;
  font-weight: var(--fw-bold);
  cursor: pointer;
}

.ios-btn {
  color: #fff;
  background-color: var(--clr-black);
}

.ios-btn:hover,
.ios-btn:focus {
  background-color: var(--clr-green);
}

.android-btn:hover,
.android-btn:focus {
  background-color: var(--clr-yellow);
}

.android-btn {
  background-color: var(--clr-whitish);
}

.footer-content {
  margin: 3em 2em;
}

.footer-content > * {
  margin-bottom: 1em;
}

.social-media {
  margin: 3em 0;
}

.social-btn {
  padding-right: 1em;
  cursor: pointer;
}

.social-btn:hover {
  fill: var(--clr-orange);
}

.email {
  font-weight: var(--fw-bold);
}

/* Media queries */

@media screen and (min-width: 768px) {
  .header::before {
    content: url(./assets/bg-pattern-1.svg);
    position: absolute;
    top: -40px;
    right: -30px;
    z-index: -1;
  }

  .header__heading {
    font-size: var(--fs-xlarge);
    margin: 1em 0 0 0;
  }

  .header__text {
    font-size: var(--fs-medium);
  }
}
